#Base Deepmind jax stack
git+https://github.com/deepmind/dm-haiku
rlax
distrax
dm-tree
dm-control
optax





#Porject dependencies
numpy
pyyaml
tqdm
pandas
bsuite
graphviz
torch 
torchvision
tensorflow
tensorflow_datasets
stable_baselines3
pygame
pymunk
wandb
imageio
gym
supersuit
pettingzoo










